.homeDisplay {
  width: 250px;
  margin: auto;
  align-items: center;
  text-align: center;
}

.homeDisplay > h1 {
  text-align: center;
}

.logoutForm {
  width: 100%;
  justify-content: center;
}

.logoutForm > button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
.logoutForm > button:hover:enabled {
  opacity: 0.8;
}

.fieldDescription {
  font-size: 16px;
  margin-bottom: 7px;
}

.fieldValue {
  color: rgb(61, 61, 61);
}