.loginForm {
  width: 300px;
  margin: auto;
  align-items: center;
}

.loginForm > h1 {
  text-align: center;
}

.createAccount {
  width: 300px;
  margin: auto;
  text-align: center;
}

.createAccount > h3 {
  color: grey;
}

.createAccount > h3:hover{
  cursor: pointer;
  color: darkgray;
}

.loginCredential {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1px;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.loginForm > button {
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  width: 100%;
}

.loginForm > button:disabled {
  background-color: white;
  color: #ccc;
}

.loginForm > button:enabled {
  color: white;
  background-color: #04AA6D;
}


/* Add a hover effect for buttons */
.loginForm > button:hover:enabled {
  opacity: 0.8;
  cursor: pointer;
}

.errorBox {
  color: rgb(239, 12, 12);
  text-align: center;
}